[submodule "cowboy_lib"]
	path = cowboy_lib
	url = git@github.com:JohnPeng47/cowboy-lib.git
    branch = main

[submodule "moatless"]
	path = moatless
	url = git@github.com:JohnPeng47/moatless-tools.git
    branch = main

[submodule "rtfs"]
	path = moatless
	url = git@github.com:JohnPeng47/moatless-tools.git
    branch = main